import packageJson from "../package.json";
import { ManifestType } from "@src/manifest-type";

const manifest: ManifestType = {
  manifest_version: 3,
  name: packageJson.name,
  version: packageJson.version,
  description: packageJson.description,
  {% if options%}options_page: "src/pages/options/index.html",{% endif %}
  {% if background%}background: { service_worker: "src/pages/background/index.js" },{% endif %}
  {% if popup%} action: {
    default_popup: "src/pages/popup/index.html",
    default_icon: "icon-34.png",
  },{% endif %}
  {% if newtab%}chrome_url_overrides: {
    newtab: "src/pages/newtab/index.html",
  },{% endif %}
  icons: {
    "128": "icon-128.png",
  },
  {% if content%}content_scripts: [
    {
      all_frames: true,
      matches: ["http://*/*", "https://*/*", "<all_urls>"],
      js: ["src/pages/content/index.js"],
      css: ["assets/css/contentStyle.chunk.css"],
    },
  ],{% endif %}
  {% if devtools%}devtools_page: "src/pages/devtools/index.html",{% endif %}
  web_accessible_resources: [
    {
      resources: [
        "src/pages/content_inject/*.js",
        "src/pages/content_inject/*.map",
        "assets/js/*.js",
        "assets/css/*.css",
        "icon-128.png",
        "icon-34.png",
      ],
      matches: ["*://*/*"],
    },
  ],
};

export default manifest;
